# Xcode
DerivedData/
build/
*.xcuserstate
*.xcworkspace
.DS_Store

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Config
config/*.plist
config/*.json